.fade{
	-webkit-transition: opacity .3s linear, top .3s ease-out;
	-moz-transition: opacity .3s linear, top .3s ease-out;
	-ms-transition: opacity .3s linear, top .3s ease-out;
	-o-transition: opacity .3s linear, top .3s ease-out;
	transition: opacity .3s linear, top .3s ease-out;
}

.modal-content {
	height: 100% !important;
	overflow:visible;
	text-align: center;
}
fieldset{
	margin: 0 auto;
	width: 260px;
}
.loginForm{
	padding-top: 70px;
}
.joinForm{
	padding-top: 30px;
}
/* .form-group{
	margin-left: 22px;
} */

@media screen 
and (min-device-width: 768px)
and (max-device-width: 1024px) {
	.modal{
		margin-top: 10px;
	}
	#modal-dialog1 {
		height: 400px !important;
		padding-top: 50px;
	}
	#modal-dialog2 {
		height: 500px !important;
		padding-top: 50px;
	}
}

@media screen 
and (min-device-width: 1280px)
and (max-device-width: 1920px) {
	.modal{
		margin-top: 180px;
	}
	#modal-dialog1 {
		height: 400px !important;
		padding-top: 50px;
	}
	#modal-dialog2 {
		height: 500px !important;
		padding-top: 50px;
	}
}

@media screen 
and (min-device-width: 1920px)
and (max-device-width: 2048px) {
	.modal{
		margin-top: 180px;
	}
	#modal-dialog1 {
		height: 400px !important;
		padding-top: 60px;
	}
	#modal-dialog2 {
		height: 500px !important;
		padding-top: 60px;
	}
}