@CHARSET "UTF-8";

.container{
	width: 350px;
	height: 600px;
	margin-top: 73px;
	margin-bottom: 73px;
	overflow-y: scroll;
	display: inline-block;
	box-shadow: 0 0 10px 0.2px gray;
}

.row{
	padding-top: 25px;
}

.air_time_table{
	margin-left: 180px;
}

.air_remain_seat{
	margin-left: 25px;
}

.air_time_table li,
.air_remain_seat li {
	list-style: none;
	width: 300px;
	margin: 0 -25px;
}

.air_time_table_list:hover,
.air_remain_seat_list:hover{
	color: #000;
    background-color: #DDD;
    border-color: #DDD;
}